<div class="post">
  <h2>Post #<%= @user.posts.index(@post) + 1 %> by <%= @user.name %></h2>
  <h3><%= @post.title %></h3>
  <p><%= @post.text %></p>
  <ul> 
    <% @comments.each do |comment|%>
        <li><%= comment.author.name %>: <%= comment.text %></li>
    <% end %>
  </ul>
</div>